# Java #
*.class
# Package Files #
*.jar
*.war
*.ear
# Maven #
ext4dpws-adl-frontend/target/
ext4dpws-common/target/
ext4dpws-idl2wsdl/target/
ext4dpws-mindpwsc/target/
ext4dpws-wsdl2cpl/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
